body {
    background-image: url('./../img/pattern.jpg');
    display: inline;
    align-items: center;
    justify-content: center;
}

header {
    background-color: white;
    position: relative;
}

nav {
  position: absolute;
  top: 30%;
  right: 20;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    width: auto;
    text-align: center;
}

li {
    display: inline;
    margin-right: 15px;
    font-weight: bold;
    color: rgb(0, 0, 144);
}

section {
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 1000px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#article-list {
    margin: auto;
    padding-top: 10px;
}

#article-list div {
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
}

footer {
    display: flex;
    background-color: black;
    padding: 5px 0px 5px 0px;
    justify-content:center;
    align-items:center;
}

footer h5 {
    color: white;
}